In [3]:
import numpy as np
import pandas as pd
dataset = pd.read_csv('cars.csv')
print(dataset)

    S.No                model   mpg  cyl   disp   hp  drat     wt   qsec  vs  \
0      1            Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0
1      2        Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0
2      3           Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1
3      4       Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1
4      5    Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0
5      6              Valiant  18.1    6  225.0  105  2.76  3.460    NaN   1
6      7           Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0
7      8            Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1
8      9             Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1
9     10             Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1
10    11            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1
11    12           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0
12    13           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0
13    14          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0
14    15   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0
15    16  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0
16    17    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0
17    18             Fiat 128  32.4    4   78.7   66  4.08  2.200    NaN   1
18    19          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1
19    20       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1
20    21        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1
21    22     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0
22    23          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0
23    24           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0
24    25     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0
25    26            Fiat X1-9  27.3    4   79.0   66  4.08  1.935    NaN   1
26    27        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0
27    28         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1
28    29       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0
29    30         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0
30    31        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0
31    32           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1

    am  gear  carb
0    1     4     4
1    1     4     4
2    1     4     1
3    0     3     1
4    0     3     2
5    0     3     1
6    0     3     4
7    0     4     2
8    0     4     2
9    0     4     4
10   0     4     4
11   0     3     3
12   0     3     3
13   0     3     3
14   0     3     4
15   0     3     4
16   0     3     4
17   1     4     1
18   1     4     2
19   1     4     1
20   0     3     1
21   0     3     2
22   0     3     2
23   0     3     4
24   0     3     2
25   1     4     1
26   1     5     2
27   1     5     2
28   1     5     4
29   1     5     6
30   1     5     8
31   1     4     2

In [6]:
# rename the column "Model" attribute of the car to "Models"
ans = dataset.rename(columns = {'model' : 'Models'})
print(ans)

    S.No               Models   mpg  cyl   disp   hp  drat     wt   qsec  vs  \
0      1            Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0
1      2        Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0
2      3           Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1
3      4       Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1
4      5    Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0
5      6              Valiant  18.1    6  225.0  105  2.76  3.460    NaN   1
6      7           Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0
7      8            Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1
8      9             Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1
9     10             Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1
10    11            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1
11    12           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0
12    13           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0
13    14          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0
14    15   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0
15    16  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0
16    17    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0
17    18             Fiat 128  32.4    4   78.7   66  4.08  2.200    NaN   1
18    19          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1
19    20       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1
20    21        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1
21    22     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0
22    23          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0
23    24           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0
24    25     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0
25    26            Fiat X1-9  27.3    4   79.0   66  4.08  1.935    NaN   1
26    27        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0
27    28         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1
28    29       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0
29    30         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0
30    31        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0
31    32           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1

    am  gear  carb
0    1     4     4
1    1     4     4
2    1     4     1
3    0     3     1
4    0     3     2
5    0     3     1
6    0     3     4
7    0     4     2
8    0     4     2
9    0     4     4
10   0     4     4
11   0     3     3
12   0     3     3
13   0     3     3
14   0     3     4
15   0     3     4
16   0     3     4
17   1     4     1
18   1     4     2
19   1     4     1
20   0     3     1
21   0     3     2
22   0     3     2
23   0     3     4
24   0     3     2
25   1     4     1
26   1     5     2
27   1     5     2
28   1     5     4
29   1     5     6
30   1     5     8
31   1     4     2

In [9]:
# Rename disp to display attribute
#print(dataset)
answer = dataset.rename(columns = {'disp' : 'display'})
print(answer)

    S.No                model   mpg  cyl  display   hp  drat     wt   qsec  \
0      1            Mazda RX4  21.0    6    160.0  110  3.90  2.620  16.46
1      2        Mazda RX4 Wag  21.0    6    160.0  110  3.90  2.875  17.02
2      3           Datsun 710  22.8    4    108.0   93  3.85  2.320  18.61
3      4       Hornet 4 Drive  21.4    6    258.0  110  3.08  3.215  19.44
4      5    Hornet Sportabout  18.7    8    360.0  175  3.15  3.440  17.02
5      6              Valiant  18.1    6    225.0  105  2.76  3.460    NaN
6      7           Duster 360  14.3    8    360.0  245  3.21  3.570  15.84
7      8            Merc 240D  24.4    4    146.7   62  3.69  3.190  20.00
8      9             Merc 230  22.8    4    140.8   95  3.92  3.150  22.90
9     10             Merc 280  19.2    6    167.6  123  3.92  3.440  18.30
10    11            Merc 280C  17.8    6    167.6  123  3.92  3.440  18.90
11    12           Merc 450SE  16.4    8    275.8  180  3.07  4.070  17.40
12    13           Merc 450SL  17.3    8    275.8  180  3.07  3.730  17.60
13    14          Merc 450SLC  15.2    8    275.8  180  3.07  3.780  18.00
14    15   Cadillac Fleetwood  10.4    8    472.0  205  2.93  5.250  17.98
15    16  Lincoln Continental  10.4    8    460.0  215  3.00  5.424  17.82
16    17    Chrysler Imperial  14.7    8    440.0  230  3.23  5.345  17.42
17    18             Fiat 128  32.4    4     78.7   66  4.08  2.200    NaN
18    19          Honda Civic  30.4    4     75.7   52  4.93  1.615  18.52
19    20       Toyota Corolla  33.9    4     71.1   65  4.22  1.835  19.90
20    21        Toyota Corona  21.5    4    120.1   97  3.70  2.465  20.01
21    22     Dodge Challenger  15.5    8    318.0  150  2.76  3.520  16.87
22    23          AMC Javelin  15.2    8    304.0  150  3.15  3.435  17.30
23    24           Camaro Z28  13.3    8    350.0  245  3.73  3.840  15.41
24    25     Pontiac Firebird  19.2    8    400.0  175  3.08  3.845  17.05
25    26            Fiat X1-9  27.3    4     79.0   66  4.08  1.935    NaN
26    27        Porsche 914-2  26.0    4    120.3   91  4.43  2.140  16.70
27    28         Lotus Europa  30.4    4     95.1  113  3.77  1.513  16.90
28    29       Ford Pantera L  15.8    8    351.0  264  4.22  3.170  14.50
29    30         Ferrari Dino  19.7    6    145.0  175  3.62  2.770  15.50
30    31        Maserati Bora  15.0    8    301.0  335  3.54  3.570  14.60
31    32           Volvo 142E  21.4    4    121.0  109  4.11  2.780  18.60

    vs  am  gear  carb
0    0   1     4     4
1    0   1     4     4
2    1   1     4     1
3    1   0     3     1
4    0   0     3     2
5    1   0     3     1
6    0   0     3     4
7    1   0     4     2
8    1   0     4     2
9    1   0     4     4
10   1   0     4     4
11   0   0     3     3
12   0   0     3     3
13   0   0     3     3
14   0   0     3     4
15   0   0     3     4
16   0   0     3     4
17   1   1     4     1
18   1   1     4     2
19   1   1     4     1
20   1   0     3     1
21   0   0     3     2
22   0   0     3     2
23   0   0     3     4
24   0   0     3     2
25   1   1     4     1
26   0   1     5     2
27   1   1     5     2
28   0   1     5     4
29   0   1     5     6
30   0   1     5     8
31   1   1     4     2

In [13]:
# Rename wt to weights
answers = dataset.rename(columns = {'wt' : 'weights'})
print(answers)

    S.No                model   mpg  cyl   disp   hp  drat  weights   qsec  \
0      1            Mazda RX4  21.0    6  160.0  110  3.90    2.620  16.46
1      2        Mazda RX4 Wag  21.0    6  160.0  110  3.90    2.875  17.02
2      3           Datsun 710  22.8    4  108.0   93  3.85    2.320  18.61
3      4       Hornet 4 Drive  21.4    6  258.0  110  3.08    3.215  19.44
4      5    Hornet Sportabout  18.7    8  360.0  175  3.15    3.440  17.02
5      6              Valiant  18.1    6  225.0  105  2.76    3.460    NaN
6      7           Duster 360  14.3    8  360.0  245  3.21    3.570  15.84
7      8            Merc 240D  24.4    4  146.7   62  3.69    3.190  20.00
8      9             Merc 230  22.8    4  140.8   95  3.92    3.150  22.90
9     10             Merc 280  19.2    6  167.6  123  3.92    3.440  18.30
10    11            Merc 280C  17.8    6  167.6  123  3.92    3.440  18.90
11    12           Merc 450SE  16.4    8  275.8  180  3.07    4.070  17.40
12    13           Merc 450SL  17.3    8  275.8  180  3.07    3.730  17.60
13    14          Merc 450SLC  15.2    8  275.8  180  3.07    3.780  18.00
14    15   Cadillac Fleetwood  10.4    8  472.0  205  2.93    5.250  17.98
15    16  Lincoln Continental  10.4    8  460.0  215  3.00    5.424  17.82
16    17    Chrysler Imperial  14.7    8  440.0  230  3.23    5.345  17.42
17    18             Fiat 128  32.4    4   78.7   66  4.08    2.200    NaN
18    19          Honda Civic  30.4    4   75.7   52  4.93    1.615  18.52
19    20       Toyota Corolla  33.9    4   71.1   65  4.22    1.835  19.90
20    21        Toyota Corona  21.5    4  120.1   97  3.70    2.465  20.01
21    22     Dodge Challenger  15.5    8  318.0  150  2.76    3.520  16.87
22    23          AMC Javelin  15.2    8  304.0  150  3.15    3.435  17.30
23    24           Camaro Z28  13.3    8  350.0  245  3.73    3.840  15.41
24    25     Pontiac Firebird  19.2    8  400.0  175  3.08    3.845  17.05
25    26            Fiat X1-9  27.3    4   79.0   66  4.08    1.935    NaN
26    27        Porsche 914-2  26.0    4  120.3   91  4.43    2.140  16.70
27    28         Lotus Europa  30.4    4   95.1  113  3.77    1.513  16.90
28    29       Ford Pantera L  15.8    8  351.0  264  4.22    3.170  14.50
29    30         Ferrari Dino  19.7    6  145.0  175  3.62    2.770  15.50
30    31        Maserati Bora  15.0    8  301.0  335  3.54    3.570  14.60
31    32           Volvo 142E  21.4    4  121.0  109  4.11    2.780  18.60

    vs  am  gear  carb
0    0   1     4     4
1    0   1     4     4
2    1   1     4     1
3    1   0     3     1
4    0   0     3     2
5    1   0     3     1
6    0   0     3     4
7    1   0     4     2
8    1   0     4     2
9    1   0     4     4
10   1   0     4     4
11   0   0     3     3
12   0   0     3     3
13   0   0     3     3
14   0   0     3     4
15   0   0     3     4
16   0   0     3     4
17   1   1     4     1
18   1   1     4     2
19   1   1     4     1
20   1   0     3     1
21   0   0     3     2
22   0   0     3     2
23   0   0     3     4
24   0   0     3     2
25   1   1     4     1
26   0   1     5     2
27   1   1     5     2
28   0   1     5     4
29   0   1     5     6
30   0   1     5     8
31   1   1     4     2

In [15]:
# Rename 'mpg':'mpgcylinder'

results = dataset.rename(columns = {'mpg': 'mpgcylinder'})
print(results)

    S.No                model  mpgcylinder  cyl   disp   hp  drat     wt  \
0      1            Mazda RX4         21.0    6  160.0  110  3.90  2.620
1      2        Mazda RX4 Wag         21.0    6  160.0  110  3.90  2.875
2      3           Datsun 710         22.8    4  108.0   93  3.85  2.320
3      4       Hornet 4 Drive         21.4    6  258.0  110  3.08  3.215
4      5    Hornet Sportabout         18.7    8  360.0  175  3.15  3.440
5      6              Valiant         18.1    6  225.0  105  2.76  3.460
6      7           Duster 360         14.3    8  360.0  245  3.21  3.570
7      8            Merc 240D         24.4    4  146.7   62  3.69  3.190
8      9             Merc 230         22.8    4  140.8   95  3.92  3.150
9     10             Merc 280         19.2    6  167.6  123  3.92  3.440
10    11            Merc 280C         17.8    6  167.6  123  3.92  3.440
11    12           Merc 450SE         16.4    8  275.8  180  3.07  4.070
12    13           Merc 450SL         17.3    8  275.8  180  3.07  3.730
13    14          Merc 450SLC         15.2    8  275.8  180  3.07  3.780
14    15   Cadillac Fleetwood         10.4    8  472.0  205  2.93  5.250
15    16  Lincoln Continental         10.4    8  460.0  215  3.00  5.424
16    17    Chrysler Imperial         14.7    8  440.0  230  3.23  5.345
17    18             Fiat 128         32.4    4   78.7   66  4.08  2.200
18    19          Honda Civic         30.4    4   75.7   52  4.93  1.615
19    20       Toyota Corolla         33.9    4   71.1   65  4.22  1.835
20    21        Toyota Corona         21.5    4  120.1   97  3.70  2.465
21    22     Dodge Challenger         15.5    8  318.0  150  2.76  3.520
22    23          AMC Javelin         15.2    8  304.0  150  3.15  3.435
23    24           Camaro Z28         13.3    8  350.0  245  3.73  3.840
24    25     Pontiac Firebird         19.2    8  400.0  175  3.08  3.845
25    26            Fiat X1-9         27.3    4   79.0   66  4.08  1.935
26    27        Porsche 914-2         26.0    4  120.3   91  4.43  2.140
27    28         Lotus Europa         30.4    4   95.1  113  3.77  1.513
28    29       Ford Pantera L         15.8    8  351.0  264  4.22  3.170
29    30         Ferrari Dino         19.7    6  145.0  175  3.62  2.770
30    31        Maserati Bora         15.0    8  301.0  335  3.54  3.570
31    32           Volvo 142E         21.4    4  121.0  109  4.11  2.780

     qsec  vs  am  gear  carb
0   16.46   0   1     4     4
1   17.02   0   1     4     4
2   18.61   1   1     4     1
3   19.44   1   0     3     1
4   17.02   0   0     3     2
5     NaN   1   0     3     1
6   15.84   0   0     3     4
7   20.00   1   0     4     2
8   22.90   1   0     4     2
9   18.30   1   0     4     4
10  18.90   1   0     4     4
11  17.40   0   0     3     3
12  17.60   0   0     3     3
13  18.00   0   0     3     3
14  17.98   0   0     3     4
15  17.82   0   0     3     4
16  17.42   0   0     3     4
17    NaN   1   1     4     1
18  18.52   1   1     4     2
19  19.90   1   1     4     1
20  20.01   1   0     3     1
21  16.87   0   0     3     2
22  17.30   0   0     3     2
23  15.41   0   0     3     4
24  17.05   0   0     3     2
25    NaN   1   1     4     1
26  16.70   0   1     5     2
27  16.90   1   1     5     2
28  14.50   0   1     5     4
29  15.50   0   1     5     6
30  14.60   0   1     5     8
31  18.60   1   1     4     2

In [17]:
# Drop the column 'model'
print(dataset)
x = dataset.drop(columns = ['model'])

    S.No                model   mpg  cyl   disp   hp  drat     wt   qsec  vs  \
0      1            Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0
1      2        Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0
2      3           Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1
3      4       Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1
4      5    Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0
5      6              Valiant  18.1    6  225.0  105  2.76  3.460    NaN   1
6      7           Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0
7      8            Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1
8      9             Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1
9     10             Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1
10    11            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1
11    12           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0
12    13           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0
13    14          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0
14    15   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0
15    16  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0
16    17    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0
17    18             Fiat 128  32.4    4   78.7   66  4.08  2.200    NaN   1
18    19          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1
19    20       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1
20    21        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1
21    22     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0
22    23          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0
23    24           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0
24    25     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0
25    26            Fiat X1-9  27.3    4   79.0   66  4.08  1.935    NaN   1
26    27        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0
27    28         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1
28    29       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0
29    30         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0
30    31        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0
31    32           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1

    am  gear  carb
0    1     4     4
1    1     4     4
2    1     4     1
3    0     3     1
4    0     3     2
5    0     3     1
6    0     3     4
7    0     4     2
8    0     4     2
9    0     4     4
10   0     4     4
11   0     3     3
12   0     3     3
13   0     3     3
14   0     3     4
15   0     3     4
16   0     3     4
17   1     4     1
18   1     4     2
19   1     4     1
20   0     3     1
21   0     3     2
22   0     3     2
23   0     3     4
24   0     3     2
25   1     4     1
26   1     5     2
27   1     5     2
28   1     5     4
29   1     5     6
30   1     5     8
31   1     4     2

In [18]:
x

    S.No   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0      1  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1      2  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2      3  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3      4  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4      5  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5      6  18.1    6  225.0  105  2.76  3.460    NaN   1   0     3     1
6      7  14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7      8  24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8      9  22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9     10  19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10    11  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11    12  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12    13  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13    14  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14    15  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15    16  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16    17  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17    18  32.4    4   78.7   66  4.08  2.200    NaN   1   1     4     1
18    19  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19    20  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20    21  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21    22  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22    23  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23    24  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24    25  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25    26  27.3    4   79.0   66  4.08  1.935    NaN   1   1     4     1
26    27  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27    28  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28    29  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29    30  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30    31  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31    32  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [20]:
# drop the column 'carb'
t = dataset.drop(columns = {'carb' : 'carbs'})

In [21]:
t

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4

In [22]:
# Drop the column 'drat'
z = dataset.drop(columns = ['drat'])

In [23]:
z

,S.No,model,mpg,cyl,disp,hp,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,2.780,18.60,1,1,4,2

In [24]:
# Rename the columns 'cyl' to meter
z = dataset.rename(columns = {'cyl' : 'cylinder'})

In [25]:
z

,S.No,model,mpg,cylinder,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [26]:
# drop the cylinder column
ans = z.drop(columns = ['cylinder'])

In [27]:
ans

,S.No,model,mpg,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,275.8,180,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,275.8,180,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,275.8,180,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,78.7,66,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,79.0,66,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [28]:
# correlation matrix of the dataset
x = dataset[['mpg','disp','hp','drat','wt','qsec','vs','am','gear','carb']].corr()
print(x)

           mpg      disp        hp      drat        wt      qsec        vs  \
mpg   1.000000 -0.847551 -0.776168  0.681172 -0.867659  0.401294  0.664039
disp -0.847551  1.000000  0.790949 -0.710214  0.887980 -0.406922 -0.710416
hp   -0.776168  0.790949  1.000000 -0.448759  0.658748 -0.690114 -0.723097
drat  0.681172 -0.710214 -0.448759  1.000000 -0.712441  0.128973  0.440278
wt   -0.867659  0.887980  0.658748 -0.712441  1.000000 -0.137198 -0.554916
qsec  0.401294 -0.406922 -0.690114  0.128973 -0.137198  1.000000  0.717275
vs    0.664039 -0.710416 -0.723097  0.440278 -0.554916  0.717275  1.000000
am    0.599832 -0.591227 -0.243204  0.712711 -0.692495 -0.288955  0.168345
gear  0.480285 -0.555569 -0.125704  0.699610 -0.583287 -0.207942  0.206023
carb -0.550925  0.394977  0.749812 -0.090790  0.427606 -0.616964 -0.569607

            am      gear      carb
mpg   0.599832  0.480285 -0.550925
disp -0.591227 -0.555569  0.394977
hp   -0.243204 -0.125704  0.749812
drat  0.712711  0.699610 -0.090790
wt   -0.692495 -0.583287  0.427606
qsec -0.288955 -0.207942 -0.616964
vs    0.168345  0.206023 -0.569607
am    1.000000  0.794059  0.057534
gear  0.794059  1.000000  0.274073
carb  0.057534  0.274073  1.000000

In [30]:
# changing the datatype of hp from float to int
dataset.hp = dataset.hp.astype('int')
#print(dataset)


# changing the datatype of drat from float to int
dataset.drat = dataset.drat.astype('int')
print(dataset)

    S.No                model   mpg  cyl   disp   hp  drat     wt   qsec  vs  \
0      1            Mazda RX4  21.0    6  160.0  110     3  2.620  16.46   0
1      2        Mazda RX4 Wag  21.0    6  160.0  110     3  2.875  17.02   0
2      3           Datsun 710  22.8    4  108.0   93     3  2.320  18.61   1
3      4       Hornet 4 Drive  21.4    6  258.0  110     3  3.215  19.44   1
4      5    Hornet Sportabout  18.7    8  360.0  175     3  3.440  17.02   0
5      6              Valiant  18.1    6  225.0  105     2  3.460    NaN   1
6      7           Duster 360  14.3    8  360.0  245     3  3.570  15.84   0
7      8            Merc 240D  24.4    4  146.7   62     3  3.190  20.00   1
8      9             Merc 230  22.8    4  140.8   95     3  3.150  22.90   1
9     10             Merc 280  19.2    6  167.6  123     3  3.440  18.30   1
10    11            Merc 280C  17.8    6  167.6  123     3  3.440  18.90   1
11    12           Merc 450SE  16.4    8  275.8  180     3  4.070  17.40   0
12    13           Merc 450SL  17.3    8  275.8  180     3  3.730  17.60   0
13    14          Merc 450SLC  15.2    8  275.8  180     3  3.780  18.00   0
14    15   Cadillac Fleetwood  10.4    8  472.0  205     2  5.250  17.98   0
15    16  Lincoln Continental  10.4    8  460.0  215     3  5.424  17.82   0
16    17    Chrysler Imperial  14.7    8  440.0  230     3  5.345  17.42   0
17    18             Fiat 128  32.4    4   78.7   66     4  2.200    NaN   1
18    19          Honda Civic  30.4    4   75.7   52     4  1.615  18.52   1
19    20       Toyota Corolla  33.9    4   71.1   65     4  1.835  19.90   1
20    21        Toyota Corona  21.5    4  120.1   97     3  2.465  20.01   1
21    22     Dodge Challenger  15.5    8  318.0  150     2  3.520  16.87   0
22    23          AMC Javelin  15.2    8  304.0  150     3  3.435  17.30   0
23    24           Camaro Z28  13.3    8  350.0  245     3  3.840  15.41   0
24    25     Pontiac Firebird  19.2    8  400.0  175     3  3.845  17.05   0
25    26            Fiat X1-9  27.3    4   79.0   66     4  1.935    NaN   1
26    27        Porsche 914-2  26.0    4  120.3   91     4  2.140  16.70   0
27    28         Lotus Europa  30.4    4   95.1  113     3  1.513  16.90   1
28    29       Ford Pantera L  15.8    8  351.0  264     4  3.170  14.50   0
29    30         Ferrari Dino  19.7    6  145.0  175     3  2.770  15.50   0
30    31        Maserati Bora  15.0    8  301.0  335     3  3.570  14.60   0
31    32           Volvo 142E  21.4    4  121.0  109     4  2.780  18.60   1

    am  gear  carb
0    1     4     4
1    1     4     4
2    1     4     1
3    0     3     1
4    0     3     2
5    0     3     1
6    0     3     4
7    0     4     2
8    0     4     2
9    0     4     4
10   0     4     4
11   0     3     3
12   0     3     3
13   0     3     3
14   0     3     4
15   0     3     4
16   0     3     4
17   1     4     1
18   1     4     2
19   1     4     1
20   0     3     1
21   0     3     2
22   0     3     2
23   0     3     4
24   0     3     2
25   1     4     1
26   1     5     2
27   1     5     2
28   1     5     4
29   1     5     6
30   1     5     8
31   1     4     2

In [31]:
print(dataset)

    S.No                model   mpg  cyl   disp   hp  drat     wt   qsec  vs  \
0      1            Mazda RX4  21.0    6  160.0  110     3  2.620  16.46   0
1      2        Mazda RX4 Wag  21.0    6  160.0  110     3  2.875  17.02   0
2      3           Datsun 710  22.8    4  108.0   93     3  2.320  18.61   1
3      4       Hornet 4 Drive  21.4    6  258.0  110     3  3.215  19.44   1
4      5    Hornet Sportabout  18.7    8  360.0  175     3  3.440  17.02   0
5      6              Valiant  18.1    6  225.0  105     2  3.460    NaN   1
6      7           Duster 360  14.3    8  360.0  245     3  3.570  15.84   0
7      8            Merc 240D  24.4    4  146.7   62     3  3.190  20.00   1
8      9             Merc 230  22.8    4  140.8   95     3  3.150  22.90   1
9     10             Merc 280  19.2    6  167.6  123     3  3.440  18.30   1
10    11            Merc 280C  17.8    6  167.6  123     3  3.440  18.90   1
11    12           Merc 450SE  16.4    8  275.8  180     3  4.070  17.40   0
12    13           Merc 450SL  17.3    8  275.8  180     3  3.730  17.60   0
13    14          Merc 450SLC  15.2    8  275.8  180     3  3.780  18.00   0
14    15   Cadillac Fleetwood  10.4    8  472.0  205     2  5.250  17.98   0
15    16  Lincoln Continental  10.4    8  460.0  215     3  5.424  17.82   0
16    17    Chrysler Imperial  14.7    8  440.0  230     3  5.345  17.42   0
17    18             Fiat 128  32.4    4   78.7   66     4  2.200    NaN   1
18    19          Honda Civic  30.4    4   75.7   52     4  1.615  18.52   1
19    20       Toyota Corolla  33.9    4   71.1   65     4  1.835  19.90   1
20    21        Toyota Corona  21.5    4  120.1   97     3  2.465  20.01   1
21    22     Dodge Challenger  15.5    8  318.0  150     2  3.520  16.87   0
22    23          AMC Javelin  15.2    8  304.0  150     3  3.435  17.30   0
23    24           Camaro Z28  13.3    8  350.0  245     3  3.840  15.41   0
24    25     Pontiac Firebird  19.2    8  400.0  175     3  3.845  17.05   0
25    26            Fiat X1-9  27.3    4   79.0   66     4  1.935    NaN   1
26    27        Porsche 914-2  26.0    4  120.3   91     4  2.140  16.70   0
27    28         Lotus Europa  30.4    4   95.1  113     3  1.513  16.90   1
28    29       Ford Pantera L  15.8    8  351.0  264     4  3.170  14.50   0
29    30         Ferrari Dino  19.7    6  145.0  175     3  2.770  15.50   0
30    31        Maserati Bora  15.0    8  301.0  335     3  3.570  14.60   0
31    32           Volvo 142E  21.4    4  121.0  109     4  2.780  18.60   1

    am  gear  carb
0    1     4     4
1    1     4     4
2    1     4     1
3    0     3     1
4    0     3     2
5    0     3     1
6    0     3     4
7    0     4     2
8    0     4     2
9    0     4     4
10   0     4     4
11   0     3     3
12   0     3     3
13   0     3     3
14   0     3     4
15   0     3     4
16   0     3     4
17   1     4     1
18   1     4     2
19   1     4     1
20   0     3     1
21   0     3     2
22   0     3     2
23   0     3     4
24   0     3     2
25   1     4     1
26   1     5     2
27   1     5     2
28   1     5     4
29   1     5     6
30   1     5     8
31   1     4     2

In [35]:
# display all the rows and columns of the dataset
dataset.loc[:,:]

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4,2.780,18.60,1,1,4,2

In [36]:
dataset.iloc[:,:]

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4,2.780,18.60,1,1,4,2

In [37]:
# view the fifth column
print(dataset.iloc[:,5])

0     110
1     110
2      93
3     110
4     175
5     105
6     245
7      62
8      95
9     123
10    123
11    180
12    180
13    180
14    205
15    215
16    230
17     66
18     52
19     65
20     97
21    150
22    150
23    245
24    175
25     66
26     91
27    113
28    264
29    175
30    335
31    109
Name: hp, dtype: int32

In [40]:
# view the seventh column and convert its value to int
print(dataset.iloc[:,7])

dataset.wt = dataset.wt.astype('int')
print(dataset)

0     2.620
1     2.875
2     2.320
3     3.215
4     3.440
5     3.460
6     3.570
7     3.190
8     3.150
9     3.440
10    3.440
11    4.070
12    3.730
13    3.780
14    5.250
15    5.424
16    5.345
17    2.200
18    1.615
19    1.835
20    2.465
21    3.520
22    3.435
23    3.840
24    3.845
25    1.935
26    2.140
27    1.513
28    3.170
29    2.770
30    3.570
31    2.780
Name: wt, dtype: float64
    S.No                model   mpg  cyl   disp   hp  drat  wt   qsec  vs  am  \
0      1            Mazda RX4  21.0    6  160.0  110     3   2  16.46   0   1
1      2        Mazda RX4 Wag  21.0    6  160.0  110     3   2  17.02   0   1
2      3           Datsun 710  22.8    4  108.0   93     3   2  18.61   1   1
3      4       Hornet 4 Drive  21.4    6  258.0  110     3   3  19.44   1   0
4      5    Hornet Sportabout  18.7    8  360.0  175     3   3  17.02   0   0
5      6              Valiant  18.1    6  225.0  105     2   3    NaN   1   0
6      7           Duster 360  14.3    8  360.0  245     3   3  15.84   0   0
7      8            Merc 240D  24.4    4  146.7   62     3   3  20.00   1   0
8      9             Merc 230  22.8    4  140.8   95     3   3  22.90   1   0
9     10             Merc 280  19.2    6  167.6  123     3   3  18.30   1   0
10    11            Merc 280C  17.8    6  167.6  123     3   3  18.90   1   0
11    12           Merc 450SE  16.4    8  275.8  180     3   4  17.40   0   0
12    13           Merc 450SL  17.3    8  275.8  180     3   3  17.60   0   0
13    14          Merc 450SLC  15.2    8  275.8  180     3   3  18.00   0   0
14    15   Cadillac Fleetwood  10.4    8  472.0  205     2   5  17.98   0   0
15    16  Lincoln Continental  10.4    8  460.0  215     3   5  17.82   0   0
16    17    Chrysler Imperial  14.7    8  440.0  230     3   5  17.42   0   0
17    18             Fiat 128  32.4    4   78.7   66     4   2    NaN   1   1
18    19          Honda Civic  30.4    4   75.7   52     4   1  18.52   1   1
19    20       Toyota Corolla  33.9    4   71.1   65     4   1  19.90   1   1
20    21        Toyota Corona  21.5    4  120.1   97     3   2  20.01   1   0
21    22     Dodge Challenger  15.5    8  318.0  150     2   3  16.87   0   0
22    23          AMC Javelin  15.2    8  304.0  150     3   3  17.30   0   0
23    24           Camaro Z28  13.3    8  350.0  245     3   3  15.41   0   0
24    25     Pontiac Firebird  19.2    8  400.0  175     3   3  17.05   0   0
25    26            Fiat X1-9  27.3    4   79.0   66     4   1    NaN   1   1
26    27        Porsche 914-2  26.0    4  120.3   91     4   2  16.70   0   1
27    28         Lotus Europa  30.4    4   95.1  113     3   1  16.90   1   1
28    29       Ford Pantera L  15.8    8  351.0  264     4   3  14.50   0   1
29    30         Ferrari Dino  19.7    6  145.0  175     3   2  15.50   0   1
30    31        Maserati Bora  15.0    8  301.0  335     3   3  14.60   0   1
31    32           Volvo 142E  21.4    4  121.0  109     4   2  18.60   1   1

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     2
5      3     1
6      3     4
7      4     2
8      4     2
9      4     4
10     4     4
11     3     3
12     3     3
13     3     3
14     3     4
15     3     4
16     3     4
17     4     1
18     4     2
19     4     1
20     3     1
21     3     2
22     3     2
23     3     4
24     3     2
25     4     1
26     5     2
27     5     2
28     5     4
29     5     6
30     5     8
31     4     2

In [43]:
# display the first five records of the fifth column
print(dataset.iloc[0:5,5])

0    110
1    110
2     93
3    110
4    175
Name: hp, dtype: int32

In [45]:
# view only specific columns 423:,12:
print(dataset.iloc[6:, 7:])

    wt   qsec  vs  am  gear  carb
6    3  15.84   0   0     3     4
7    3  20.00   1   0     4     2
8    3  22.90   1   0     4     2
9    3  18.30   1   0     4     4
10   3  18.90   1   0     4     4
11   4  17.40   0   0     3     3
12   3  17.60   0   0     3     3
13   3  18.00   0   0     3     3
14   5  17.98   0   0     3     4
15   5  17.82   0   0     3     4
16   5  17.42   0   0     3     4
17   2    NaN   1   1     4     1
18   1  18.52   1   1     4     2
19   1  19.90   1   1     4     1
20   2  20.01   1   0     3     1
21   3  16.87   0   0     3     2
22   3  17.30   0   0     3     2
23   3  15.41   0   0     3     4
24   3  17.05   0   0     3     2
25   1    NaN   1   1     4     1
26   2  16.70   0   1     5     2
27   1  16.90   1   1     5     2
28   3  14.50   0   1     5     4
29   2  15.50   0   1     5     6
30   3  14.60   0   1     5     8
31   2  18.60   1   1     4     2

In [46]:
#view only the first column
print(dataset.iloc[:,1])

0               Mazda RX4
1           Mazda RX4 Wag
2              Datsun 710
3          Hornet 4 Drive
4       Hornet Sportabout
5                 Valiant
6              Duster 360
7               Merc 240D
8                Merc 230
9                Merc 280
10              Merc 280C
11             Merc 450SE
12             Merc 450SL
13            Merc 450SLC
14     Cadillac Fleetwood
15    Lincoln Continental
16      Chrysler Imperial
17               Fiat 128
18            Honda Civic
19         Toyota Corolla
20          Toyota Corona
21       Dodge Challenger
22            AMC Javelin
23             Camaro Z28
24       Pontiac Firebird
25              Fiat X1-9
26          Porsche 914-2
27           Lotus Europa
28         Ford Pantera L
29           Ferrari Dino
30          Maserati Bora
31             Volvo 142E
Name: model, dtype: object

In [50]:
#view only records of wt columns
#print(dataset)
dataset.loc[:,'wt']

0     2
1     2
2     2
3     3
4     3
5     3
6     3
7     3
8     3
9     3
10    3
11    4
12    3
13    3
14    5
15    5
16    5
17    2
18    1
19    1
20    2
21    3
22    3
23    3
24    3
25    1
26    2
27    1
28    3
29    2
30    3
31    2
Name: wt, dtype: int32

In [52]:
#view all the records from model column
print(dataset.loc[:,'model'])

0               Mazda RX4
1           Mazda RX4 Wag
2              Datsun 710
3          Hornet 4 Drive
4       Hornet Sportabout
5                 Valiant
6              Duster 360
7               Merc 240D
8                Merc 230
9                Merc 280
10              Merc 280C
11             Merc 450SE
12             Merc 450SL
13            Merc 450SLC
14     Cadillac Fleetwood
15    Lincoln Continental
16      Chrysler Imperial
17               Fiat 128
18            Honda Civic
19         Toyota Corolla
20          Toyota Corona
21       Dodge Challenger
22            AMC Javelin
23             Camaro Z28
24       Pontiac Firebird
25              Fiat X1-9
26          Porsche 914-2
27           Lotus Europa
28         Ford Pantera L
29           Ferrari Dino
30          Maserati Bora
31             Volvo 142E
Name: model, dtype: object

In [58]:
# display all the records from  0 to 6 index in cyl column
#print(dataset.cyl)
dataset.loc[0:6,'cyl']

0    6
1    6
2    4
3    6
4    8
5    6
6    8
Name: cyl, dtype: int64

In [60]:
# first seven records from drat to am
print(dataset.loc[0:6,'drat':'am'])

   drat  wt   qsec  vs  am
0     3   2  16.46   0   1
1     3   2  17.02   0   1
2     3   2  18.61   1   1
3     3   3  19.44   1   0
4     3   3  17.02   0   0
5     2   3    NaN   1   0
6     3   3  15.84   0   0

In [64]:
# set the specific value to the entire column
dataset['disp'] = 200
print(dataset)

dataset['drat'] = 10
print(dataset)


dataset['am'] = 0
print(dataset)

    S.No                model   mpg  cyl  disp   hp  drat  wt   qsec  vs  am  \
0      1            Mazda RX4  21.0    6   200  110    10   2  16.46   0   1
1      2        Mazda RX4 Wag  21.0    6   200  110    10   2  17.02   0   1
2      3           Datsun 710  22.8    4   200   93    10   2  18.61   1   1
3      4       Hornet 4 Drive  21.4    6   200  110    10   3  19.44   1   0
4      5    Hornet Sportabout  18.7    8   200  175    10   3  17.02   0   0
5      6              Valiant  18.1    6   200  105    10   3    NaN   1   0
6      7           Duster 360  14.3    8   200  245    10   3  15.84   0   0
7      8            Merc 240D  24.4    4   200   62    10   3  20.00   1   0
8      9             Merc 230  22.8    4   200   95    10   3  22.90   1   0
9     10             Merc 280  19.2    6   200  123    10   3  18.30   1   0
10    11            Merc 280C  17.8    6   200  123    10   3  18.90   1   0
11    12           Merc 450SE  16.4    8   200  180    10   4  17.40   0   0
12    13           Merc 450SL  17.3    8   200  180    10   3  17.60   0   0
13    14          Merc 450SLC  15.2    8   200  180    10   3  18.00   0   0
14    15   Cadillac Fleetwood  10.4    8   200  205    10   5  17.98   0   0
15    16  Lincoln Continental  10.4    8   200  215    10   5  17.82   0   0
16    17    Chrysler Imperial  14.7    8   200  230    10   5  17.42   0   0
17    18             Fiat 128  32.4    4   200   66    10   2    NaN   1   1
18    19          Honda Civic  30.4    4   200   52    10   1  18.52   1   1
19    20       Toyota Corolla  33.9    4   200   65    10   1  19.90   1   1
20    21        Toyota Corona  21.5    4   200   97    10   2  20.01   1   0
21    22     Dodge Challenger  15.5    8   200  150    10   3  16.87   0   0
22    23          AMC Javelin  15.2    8   200  150    10   3  17.30   0   0
23    24           Camaro Z28  13.3    8   200  245    10   3  15.41   0   0
24    25     Pontiac Firebird  19.2    8   200  175    10   3  17.05   0   0
25    26            Fiat X1-9  27.3    4   200   66    10   1    NaN   1   1
26    27        Porsche 914-2  26.0    4   200   91    10   2  16.70   0   1
27    28         Lotus Europa  30.4    4   200  113    10   1  16.90   1   1
28    29       Ford Pantera L  15.8    8   200  264    10   3  14.50   0   1
29    30         Ferrari Dino  19.7    6   200  175    10   2  15.50   0   1
30    31        Maserati Bora  15.0    8   200  335    10   3  14.60   0   1
31    32           Volvo 142E  21.4    4   200  109    10   2  18.60   1   1

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     2
5      3     1
6      3     4
7      4     2
8      4     2
9      4     4
10     4     4
11     3     3
12     3     3
13     3     3
14     3     4
15     3     4
16     3     4
17     4     1
18     4     2
19     4     1
20     3     1
21     3     2
22     3     2
23     3     4
24     3     2
25     4     1
26     5     2
27     5     2
28     5     4
29     5     6
30     5     8
31     4     2
    S.No                model   mpg  cyl  disp   hp  drat  wt   qsec  vs  am  \
0      1            Mazda RX4  21.0    6   200  110    10   2  16.46   0   1
1      2        Mazda RX4 Wag  21.0    6   200  110    10   2  17.02   0   1
2      3           Datsun 710  22.8    4   200   93    10   2  18.61   1   1
3      4       Hornet 4 Drive  21.4    6   200  110    10   3  19.44   1   0
4      5    Hornet Sportabout  18.7    8   200  175    10   3  17.02   0   0
5      6              Valiant  18.1    6   200  105    10   3    NaN   1   0
6      7           Duster 360  14.3    8   200  245    10   3  15.84   0   0
7      8            Merc 240D  24.4    4   200   62    10   3  20.00   1   0
8      9             Merc 230  22.8    4   200   95    10   3  22.90   1   0
9     10             Merc 280  19.2    6   200  123    10   3  18.30   1   0
10    11            Merc 280C  17.8    6   200  123    10   3  18.90   1   0
11    12           Merc 450SE  16.4    8   200  180    10   4  17.40   0   0
12    13           Merc 450SL  17.3    8   200  180    10   3  17.60   0   0
13    14          Merc 450SLC  15.2    8   200  180    10   3  18.00   0   0
14    15   Cadillac Fleetwood  10.4    8   200  205    10   5  17.98   0   0
15    16  Lincoln Continental  10.4    8   200  215    10   5  17.82   0   0
16    17    Chrysler Imperial  14.7    8   200  230    10   5  17.42   0   0
17    18             Fiat 128  32.4    4   200   66    10   2    NaN   1   1
18    19          Honda Civic  30.4    4   200   52    10   1  18.52   1   1
19    20       Toyota Corolla  33.9    4   200   65    10   1  19.90   1   1
20    21        Toyota Corona  21.5    4   200   97    10   2  20.01   1   0
21    22     Dodge Challenger  15.5    8   200  150    10   3  16.87   0   0
22    23          AMC Javelin  15.2    8   200  150    10   3  17.30   0   0
23    24           Camaro Z28  13.3    8   200  245    10   3  15.41   0   0
24    25     Pontiac Firebird  19.2    8   200  175    10   3  17.05   0   0
25    26            Fiat X1-9  27.3    4   200   66    10   1    NaN   1   1
26    27        Porsche 914-2  26.0    4   200   91    10   2  16.70   0   1
27    28         Lotus Europa  30.4    4   200  113    10   1  16.90   1   1
28    29       Ford Pantera L  15.8    8   200  264    10   3  14.50   0   1
29    30         Ferrari Dino  19.7    6   200  175    10   2  15.50   0   1
30    31        Maserati Bora  15.0    8   200  335    10   3  14.60   0   1
31    32           Volvo 142E  21.4    4   200  109    10   2  18.60   1   1

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     2
5      3     1
6      3     4
7      4     2
8      4     2
9      4     4
10     4     4
11     3     3
12     3     3
13     3     3
14     3     4
15     3     4
16     3     4
17     4     1
18     4     2
19     4     1
20     3     1
21     3     2
22     3     2
23     3     4
24     3     2
25     4     1
26     5     2
27     5     2
28     5     4
29     5     6
30     5     8
31     4     2
    S.No                model   mpg  cyl  disp   hp  drat  wt   qsec  vs  am  \
0      1            Mazda RX4  21.0    6   200  110    10   2  16.46   0   0
1      2        Mazda RX4 Wag  21.0    6   200  110    10   2  17.02   0   0
2      3           Datsun 710  22.8    4   200   93    10   2  18.61   1   0
3      4       Hornet 4 Drive  21.4    6   200  110    10   3  19.44   1   0
4      5    Hornet Sportabout  18.7    8   200  175    10   3  17.02   0   0
5      6              Valiant  18.1    6   200  105    10   3    NaN   1   0
6      7           Duster 360  14.3    8   200  245    10   3  15.84   0   0
7      8            Merc 240D  24.4    4   200   62    10   3  20.00   1   0
8      9             Merc 230  22.8    4   200   95    10   3  22.90   1   0
9     10             Merc 280  19.2    6   200  123    10   3  18.30   1   0
10    11            Merc 280C  17.8    6   200  123    10   3  18.90   1   0
11    12           Merc 450SE  16.4    8   200  180    10   4  17.40   0   0
12    13           Merc 450SL  17.3    8   200  180    10   3  17.60   0   0
13    14          Merc 450SLC  15.2    8   200  180    10   3  18.00   0   0
14    15   Cadillac Fleetwood  10.4    8   200  205    10   5  17.98   0   0
15    16  Lincoln Continental  10.4    8   200  215    10   5  17.82   0   0
16    17    Chrysler Imperial  14.7    8   200  230    10   5  17.42   0   0
17    18             Fiat 128  32.4    4   200   66    10   2    NaN   1   0
18    19          Honda Civic  30.4    4   200   52    10   1  18.52   1   0
19    20       Toyota Corolla  33.9    4   200   65    10   1  19.90   1   0
20    21        Toyota Corona  21.5    4   200   97    10   2  20.01   1   0
21    22     Dodge Challenger  15.5    8   200  150    10   3  16.87   0   0
22    23          AMC Javelin  15.2    8   200  150    10   3  17.30   0   0
23    24           Camaro Z28  13.3    8   200  245    10   3  15.41   0   0
24    25     Pontiac Firebird  19.2    8   200  175    10   3  17.05   0   0
25    26            Fiat X1-9  27.3    4   200   66    10   1    NaN   1   0
26    27        Porsche 914-2  26.0    4   200   91    10   2  16.70   0   0
27    28         Lotus Europa  30.4    4   200  113    10   1  16.90   1   0
28    29       Ford Pantera L  15.8    8   200  264    10   3  14.50   0   0
29    30         Ferrari Dino  19.7    6   200  175    10   2  15.50   0   0
30    31        Maserati Bora  15.0    8   200  335    10   3  14.60   0   0
31    32           Volvo 142E  21.4    4   200  109    10   2  18.60   1   0

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     2
5      3     1
6      3     4
7      4     2
8      4     2
9      4     4
10     4     4
11     3     3
12     3     3
13     3     3
14     3     4
15     3     4
16     3     4
17     4     1
18     4     2
19     4     1
20     3     1
21     3     2
22     3     2
23     3     4
24     3     2
25     4     1
26     5     2
27     5     2
28     5     4
29     5     6
30     5     8
31     4     2

In [66]:
# sort the particular column in ascending order
# print(dataset)
dataset.sort_values(by = 'hp', ascending = True)

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
18,19,Honda Civic,30.4,4,200,52,10,1,18.52,1,0,4,2
7,8,Merc 240D,24.4,4,200,62,10,3,20.00,1,0,4,2
19,20,Toyota Corolla,33.9,4,200,65,10,1,19.90,1,0,4,1
25,26,Fiat X1-9,27.3,4,200,66,10,1,NaN,1,0,4,1
17,18,Fiat 128,32.4,4,200,66,10,2,NaN,1,0,4,1
26,27,Porsche 914-2,26.0,4,200,91,10,2,16.70,0,0,5,2
2,3,Datsun 710,22.8,4,200,93,10,2,18.61,1,0,4,1
8,9,Merc 230,22.8,4,200,95,10,3,22.90,1,0,4,2
20,21,Toyota Corona,21.5,4,200,97,10,2,20.01,1,0,3,1
5,6,Valiant,18.1,6,200,105,10,3,NaN,1,0,3,1
31,32,Volvo 142E,21.4,4,200,109,10,2,18.60,1,0,4,2
0,1,Mazda RX4,21.0,6,200,110,10,2,16.46,0,0,4,4
1,2,Mazda RX4 Wag,21.0,6,200,110,10,2,17.02,0,0,4,4
3,4,Hornet 4 Drive,21.4,6,200,110,10,3,19.44,1,0,3,1
27,28,Lotus Europa,30.4,4,200,113,10,1,16.90,1,0,5,2
10,11,Merc 280C,17.8,6,200,123,10,3,18.90,1,0,4,4
9,10,Merc 280,19.2,6,200,123,10,3,18.30,1,0,4,4
21,22,Dodge Challenger,15.5,8,200,150,10,3,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,200,150,10,3,17.30,0,0,3,2
29,30,Ferrari Dino,19.7,6,200,175,10,2,15.50,0,0,5,6
24,25,Pontiac Firebird,19.2,8,200,175,10,3,17.05,0,0,3,2
4,5,Hornet Sportabout,18.7,8,200,175,10,3,17.02,0,0,3,2
12,13,Merc 450SL,17.3,8,200,180,10,3,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,200,180,10,3,18.00,0,0,3,3
11,12,Merc 450SE,16.4,8,200,180,10,4,17.40,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,200,205,10,5,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,200,215,10,5,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,200,230,10,5,17.42,0,0,3,4
23,24,Camaro Z28,13.3,8,200,245,10,3,15.41,0,0,3,4
6,7,Duster 360,14.3,8,200,245,10,3,15.84,0,0,3,4
28,29,Ford Pantera L,15.8,8,200,264,10,3,14.50,0,0,5,4
30,31,Maserati Bora,15.0,8,200,335,10,3,14.60,0,0,5,8

In [67]:
# sort the particular column in descending order
dataset.sort_values(by = 'hp', ascending = False)

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
30,31,Maserati Bora,15.0,8,200,335,10,3,14.60,0,0,5,8
28,29,Ford Pantera L,15.8,8,200,264,10,3,14.50,0,0,5,4
6,7,Duster 360,14.3,8,200,245,10,3,15.84,0,0,3,4
23,24,Camaro Z28,13.3,8,200,245,10,3,15.41,0,0,3,4
16,17,Chrysler Imperial,14.7,8,200,230,10,5,17.42,0,0,3,4
15,16,Lincoln Continental,10.4,8,200,215,10,5,17.82,0,0,3,4
14,15,Cadillac Fleetwood,10.4,8,200,205,10,5,17.98,0,0,3,4
13,14,Merc 450SLC,15.2,8,200,180,10,3,18.00,0,0,3,3
11,12,Merc 450SE,16.4,8,200,180,10,4,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,200,180,10,3,17.60,0,0,3,3
29,30,Ferrari Dino,19.7,6,200,175,10,2,15.50,0,0,5,6
4,5,Hornet Sportabout,18.7,8,200,175,10,3,17.02,0,0,3,2
24,25,Pontiac Firebird,19.2,8,200,175,10,3,17.05,0,0,3,2
22,23,AMC Javelin,15.2,8,200,150,10,3,17.30,0,0,3,2
21,22,Dodge Challenger,15.5,8,200,150,10,3,16.87,0,0,3,2
10,11,Merc 280C,17.8,6,200,123,10,3,18.90,1,0,4,4
9,10,Merc 280,19.2,6,200,123,10,3,18.30,1,0,4,4
27,28,Lotus Europa,30.4,4,200,113,10,1,16.90,1,0,5,2
0,1,Mazda RX4,21.0,6,200,110,10,2,16.46,0,0,4,4
1,2,Mazda RX4 Wag,21.0,6,200,110,10,2,17.02,0,0,4,4
3,4,Hornet 4 Drive,21.4,6,200,110,10,3,19.44,1,0,3,1
31,32,Volvo 142E,21.4,4,200,109,10,2,18.60,1,0,4,2
5,6,Valiant,18.1,6,200,105,10,3,NaN,1,0,3,1
20,21,Toyota Corona,21.5,4,200,97,10,2,20.01,1,0,3,1
8,9,Merc 230,22.8,4,200,95,10,3,22.90,1,0,4,2
2,3,Datsun 710,22.8,4,200,93,10,2,18.61,1,0,4,1
26,27,Porsche 914-2,26.0,4,200,91,10,2,16.70,0,0,5,2
17,18,Fiat 128,32.4,4,200,66,10,2,NaN,1,0,4,1
25,26,Fiat X1-9,27.3,4,200,66,10,1,NaN,1,0,4,1
19,20,Toyota Corolla,33.9,4,200,65,10,1,19.90,1,0,4,1
7,8,Merc 240D,24.4,4,200,62,10,3,20.00,1,0,4,2
18,19,Honda Civic,30.4,4,200,52,10,1,18.52,1,0,4,2

In [71]:
# Filter 
#print(dataset)
x = dataset['hp'] > 200
results = dataset[x]
print(results)

    S.No                model   mpg  cyl  disp   hp  drat  wt   qsec  vs  am  \
6      7           Duster 360  14.3    8   200  245    10   3  15.84   0   0
14    15   Cadillac Fleetwood  10.4    8   200  205    10   5  17.98   0   0
15    16  Lincoln Continental  10.4    8   200  215    10   5  17.82   0   0
16    17    Chrysler Imperial  14.7    8   200  230    10   5  17.42   0   0
23    24           Camaro Z28  13.3    8   200  245    10   3  15.41   0   0
28    29       Ford Pantera L  15.8    8   200  264    10   3  14.50   0   0
30    31        Maserati Bora  15.0    8   200  335    10   3  14.60   0   0

    gear  carb
6      3     4
14     3     4
15     3     4
16     3     4
23     3     4
28     5     4
30     5     8

In [74]:
#print(dataset)
res = dataset['vs'] > 0
ans = dataset[res]
print(ans)

    S.No                model   mpg  cyl  disp   hp  drat  wt   qsec  vs  am  \
0      1            Mazda RX4  21.0    6   200  110    10   2  16.46   1   0
1      2        Mazda RX4 Wag  21.0    6   200  110    10   2  17.02   1   0
2      3           Datsun 710  22.8    4   200   93    10   2  18.61   1   0
3      4       Hornet 4 Drive  21.4    6   200  110    10   3  19.44   1   0
4      5    Hornet Sportabout  18.7    8   200  175    10   3  17.02   1   0
5      6              Valiant  18.1    6   200  105    10   3    NaN   1   0
6      7           Duster 360  14.3    8   200  245    10   3  15.84   1   0
7      8            Merc 240D  24.4    4   200   62    10   3  20.00   1   0
8      9             Merc 230  22.8    4   200   95    10   3  22.90   1   0
9     10             Merc 280  19.2    6   200  123    10   3  18.30   1   0
10    11            Merc 280C  17.8    6   200  123    10   3  18.90   1   0
11    12           Merc 450SE  16.4    8   200  180    10   4  17.40   1   0
12    13           Merc 450SL  17.3    8   200  180    10   3  17.60   1   0
13    14          Merc 450SLC  15.2    8   200  180    10   3  18.00   1   0
14    15   Cadillac Fleetwood  10.4    8   200  205    10   5  17.98   1   0
15    16  Lincoln Continental  10.4    8   200  215    10   5  17.82   1   0
16    17    Chrysler Imperial  14.7    8   200  230    10   5  17.42   1   0
17    18             Fiat 128  32.4    4   200   66    10   2    NaN   1   0
18    19          Honda Civic  30.4    4   200   52    10   1  18.52   1   0
19    20       Toyota Corolla  33.9    4   200   65    10   1  19.90   1   0
20    21        Toyota Corona  21.5    4   200   97    10   2  20.01   1   0
21    22     Dodge Challenger  15.5    8   200  150    10   3  16.87   1   0
22    23          AMC Javelin  15.2    8   200  150    10   3  17.30   1   0
23    24           Camaro Z28  13.3    8   200  245    10   3  15.41   1   0
24    25     Pontiac Firebird  19.2    8   200  175    10   3  17.05   1   0
25    26            Fiat X1-9  27.3    4   200   66    10   1    NaN   1   0
26    27        Porsche 914-2  26.0    4   200   91    10   2  16.70   1   0
27    28         Lotus Europa  30.4    4   200  113    10   1  16.90   1   0
28    29       Ford Pantera L  15.8    8   200  264    10   3  14.50   1   0
29    30         Ferrari Dino  19.7    6   200  175    10   2  15.50   1   0
30    31        Maserati Bora  15.0    8   200  335    10   3  14.60   1   0
31    32           Volvo 142E  21.4    4   200  109    10   2  18.60   1   0

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     2
5      3     1
6      3     4
7      4     2
8      4     2
9      4     4
10     4     4
11     3     3
12     3     3
13     3     3
14     3     4
15     3     4
16     3     4
17     4     1
18     4     2
19     4     1
20     3     1
21     3     2
22     3     2
23     3     4
24     3     2
25     4     1
26     5     2
27     5     2
28     5     4
29     5     6
30     5     8
31     4     2

In [75]:
# filter all the records from the dataset whose mpg is greater than 20
x = dataset['mpg'] > 20.0
ans = dataset[x]
print(ans)

    S.No           model   mpg  cyl  disp   hp  drat  wt   qsec  vs  am  gear  \
0      1       Mazda RX4  21.0    6   200  110    10   2  16.46   1   0     4
1      2   Mazda RX4 Wag  21.0    6   200  110    10   2  17.02   1   0     4
2      3      Datsun 710  22.8    4   200   93    10   2  18.61   1   0     4
3      4  Hornet 4 Drive  21.4    6   200  110    10   3  19.44   1   0     3
7      8       Merc 240D  24.4    4   200   62    10   3  20.00   1   0     4
8      9        Merc 230  22.8    4   200   95    10   3  22.90   1   0     4
17    18        Fiat 128  32.4    4   200   66    10   2    NaN   1   0     4
18    19     Honda Civic  30.4    4   200   52    10   1  18.52   1   0     4
19    20  Toyota Corolla  33.9    4   200   65    10   1  19.90   1   0     4
20    21   Toyota Corona  21.5    4   200   97    10   2  20.01   1   0     3
25    26       Fiat X1-9  27.3    4   200   66    10   1    NaN   1   0     4
26    27   Porsche 914-2  26.0    4   200   91    10   2  16.70   1   0     5
27    28    Lotus Europa  30.4    4   200  113    10   1  16.90   1   0     5
31    32      Volvo 142E  21.4    4   200  109    10   2  18.60   1   0     4

    carb
0      4
1      4
2      1
3      1
7      2
8      2
17     1
18     2
19     1
20     1
25     1
26     2
27     2
31     2

In [78]:
# filter all the records in which the MPG is greater than 10 and mpg is less than 20
x = ((dataset['mpg'] > 10) & (dataset['mpg'] < 20))
res = dataset[x]
#print(res)

# sort them in ascending order
res.sort_values(by = 'mpg', ascending = True)

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
14,15,Cadillac Fleetwood,10.4,8,200,205,10,5,17.98,1,0,3,4
15,16,Lincoln Continental,10.4,8,200,215,10,5,17.82,1,0,3,4
23,24,Camaro Z28,13.3,8,200,245,10,3,15.41,1,0,3,4
6,7,Duster 360,14.3,8,200,245,10,3,15.84,1,0,3,4
16,17,Chrysler Imperial,14.7,8,200,230,10,5,17.42,1,0,3,4
30,31,Maserati Bora,15.0,8,200,335,10,3,14.60,1,0,5,8
13,14,Merc 450SLC,15.2,8,200,180,10,3,18.00,1,0,3,3
22,23,AMC Javelin,15.2,8,200,150,10,3,17.30,1,0,3,2
21,22,Dodge Challenger,15.5,8,200,150,10,3,16.87,1,0,3,2
28,29,Ford Pantera L,15.8,8,200,264,10,3,14.50,1,0,5,4
11,12,Merc 450SE,16.4,8,200,180,10,4,17.40,1,0,3,3
12,13,Merc 450SL,17.3,8,200,180,10,3,17.60,1,0,3,3
10,11,Merc 280C,17.8,6,200,123,10,3,18.90,1,0,4,4
5,6,Valiant,18.1,6,200,105,10,3,NaN,1,0,3,1
4,5,Hornet Sportabout,18.7,8,200,175,10,3,17.02,1,0,3,2
9,10,Merc 280,19.2,6,200,123,10,3,18.30,1,0,4,4
24,25,Pontiac Firebird,19.2,8,200,175,10,3,17.05,1,0,3,2
29,30,Ferrari Dino,19.7,6,200,175,10,2,15.50,1,0,5,6

In [79]:
# Apply lambda function so as to find cyl * 2
f = lambda x : x*2
res['cyl'] = res['cyl'].apply(f)
print(res)

    S.No                model   mpg  cyl  disp   hp  drat  wt   qsec  vs  am  \
4      5    Hornet Sportabout  18.7   16   200  175    10   3  17.02   1   0
5      6              Valiant  18.1   12   200  105    10   3    NaN   1   0
6      7           Duster 360  14.3   16   200  245    10   3  15.84   1   0
9     10             Merc 280  19.2   12   200  123    10   3  18.30   1   0
10    11            Merc 280C  17.8   12   200  123    10   3  18.90   1   0
11    12           Merc 450SE  16.4   16   200  180    10   4  17.40   1   0
12    13           Merc 450SL  17.3   16   200  180    10   3  17.60   1   0
13    14          Merc 450SLC  15.2   16   200  180    10   3  18.00   1   0
14    15   Cadillac Fleetwood  10.4   16   200  205    10   5  17.98   1   0
15    16  Lincoln Continental  10.4   16   200  215    10   5  17.82   1   0
16    17    Chrysler Imperial  14.7   16   200  230    10   5  17.42   1   0
21    22     Dodge Challenger  15.5   16   200  150    10   3  16.87   1   0
22    23          AMC Javelin  15.2   16   200  150    10   3  17.30   1   0
23    24           Camaro Z28  13.3   16   200  245    10   3  15.41   1   0
24    25     Pontiac Firebird  19.2   16   200  175    10   3  17.05   1   0
28    29       Ford Pantera L  15.8   16   200  264    10   3  14.50   1   0
29    30         Ferrari Dino  19.7   12   200  175    10   2  15.50   1   0
30    31        Maserati Bora  15.0   16   200  335    10   3  14.60   1   0

    gear  carb
4      3     2
5      3     1
6      3     4
9      4     4
10     4     4
11     3     3
12     3     3
13     3     3
14     3     4
15     3     4
16     3     4
21     3     2
22     3     2
23     3     4
24     3     2
28     5     4
29     5     6
30     5     8

<ipython-input-79-42cc5ed6c33e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res['cyl'] = res['cyl'].apply(f)

In [80]:
# Apply lambda function so as to find disp / 100
f = lambda x : x / 10
res['disp'] = res['disp']. apply(f)
print(res)

    S.No                model   mpg  cyl  disp   hp  drat  wt   qsec  vs  am  \
4      5    Hornet Sportabout  18.7   16  20.0  175    10   3  17.02   1   0
5      6              Valiant  18.1   12  20.0  105    10   3    NaN   1   0
6      7           Duster 360  14.3   16  20.0  245    10   3  15.84   1   0
9     10             Merc 280  19.2   12  20.0  123    10   3  18.30   1   0
10    11            Merc 280C  17.8   12  20.0  123    10   3  18.90   1   0
11    12           Merc 450SE  16.4   16  20.0  180    10   4  17.40   1   0
12    13           Merc 450SL  17.3   16  20.0  180    10   3  17.60   1   0
13    14          Merc 450SLC  15.2   16  20.0  180    10   3  18.00   1   0
14    15   Cadillac Fleetwood  10.4   16  20.0  205    10   5  17.98   1   0
15    16  Lincoln Continental  10.4   16  20.0  215    10   5  17.82   1   0
16    17    Chrysler Imperial  14.7   16  20.0  230    10   5  17.42   1   0
21    22     Dodge Challenger  15.5   16  20.0  150    10   3  16.87   1   0
22    23          AMC Javelin  15.2   16  20.0  150    10   3  17.30   1   0
23    24           Camaro Z28  13.3   16  20.0  245    10   3  15.41   1   0
24    25     Pontiac Firebird  19.2   16  20.0  175    10   3  17.05   1   0
28    29       Ford Pantera L  15.8   16  20.0  264    10   3  14.50   1   0
29    30         Ferrari Dino  19.7   12  20.0  175    10   2  15.50   1   0
30    31        Maserati Bora  15.0   16  20.0  335    10   3  14.60   1   0

    gear  carb
4      3     2
5      3     1
6      3     4
9      4     4
10     4     4
11     3     3
12     3     3
13     3     3
14     3     4
15     3     4
16     3     4
21     3     2
22     3     2
23     3     4
24     3     2
28     5     4
29     5     6
30     5     8

<ipython-input-80-5a1d58871cb2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res['disp'] = res['disp']. apply(f)